@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 5%;
    --foreground: 43 30% 85%;
    --card: 0 0% 9%;
    --card-foreground: 43 30% 85%;
    --primary: 43 80% 46%;
    --primary-foreground: 0 0% 5%;
    --border: 43 40% 15%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --muted: 0 0% 12%;
    --muted-foreground: 43 20% 60%;
    --accent: 43 80% 15%;
    --accent-foreground: 43 80% 60%;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-family: 'Inter', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::selection {
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Rajdhani', sans-serif;
  }
}
